li {
  list-style: none;
}

.header {
  height: 65px;
  border-bottom: 1px solid #dddddd;
}

.header-left {
  float: left;
  padding: 10px 60px;
  color: #ED7000;
  font-size: 30px;
}

.header-right {
  float: right;
  color: #808080;
}

.header-right li {
  float: left;
  padding: 20px 30px;
  border-left: 1px solid #dddddd;
}

.selected {
  color: #ED7000;
}

.main {
  width: 1300px;
}

.footer {
  height: 100px;
  clear: left;
  border-top: 1px solid #dddddd;
}

.footer-left {
  float: left;
  width: 100px;
  padding: 30px 100px; 
}

.footer-left li {
  margin-bottom: 5px;
  color :#808080;
  border-bottom : 1px dotted #808080;
}

.like-box {
  float: left;
  padding: 30px;
}

.sidebar {
  height: 600px;
  width: 200px;
  float: left;
  padding: 30px;
}

.sidebar li {
  color: white;
  background-color: #40bfb0;
  padding: 15px;
  margin-bottom: 10px;
}

.contents {
  height: 1200px;
  width: 900px;
  float: left;
  padding: 30px;
}

.contents h1 {
  color: #40BFB0;
}

.contents-introduce {
  height: 300px;
  color: #808080;
}

.contents-introduce h1 {
  margin-bottom: 30px;
}

.contents-introduce-item {
  width: 270px;
  float: left;
  padding-right: 30px;
}

.contents-introduce-item h2 {
  margin-bottom: 10px;
}

.who-highlight {
  color: #e6855e;
}

.contents-ability h1 {
  margin-bottom: 30px;
}

th,
td {
  padding: 10px 60px;
  border: 1px solid #808080;
}

table {
  border-collapse: collapse;
}

.fe-title {
  color: #E6855E;
}

.ap-title {
  color: #40BFB0;
}

.sc-title {
  color: #F9DB57;
}